.custom-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
}

.cm_table_head {
  background-color: #f2f2f2;
}

.custom-table th,
.custom-table td {
  padding: 8px;
  text-align: left;
}

.custom-table th {
  font-weight: bold;
}

.custom-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.custom-table tr:hover {
  background-color: #ddd;
}

.action-cell {
  display: flex;
  justify-content: center;
}

.form_icon {
  display: flex;
  align-items: center;
  background-color: #FFD100;
  color: black;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* .form_icon:hover {
  background-color: #0056b3;
} */

.form_icon img {
  margin-left: 5px;
}

/* Optional: Add margin to buttons for better spacing */
.form_icon+.form_icon {
  margin-left: 5px;
}

.tableCardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.paper {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 1200px;
}

.mainContainer {
  margin-bottom: 20px;
}

.left {
  flex: 1;
}

.right {
  flex: 1;
  text-align: right;
}

.submitBtn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #FFD100;
  color: black;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s;
}

/* .submitBtn:hover {
  background-color: #0056b3;
} */

.search-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.cm_pagination {
  margin-top: 20px;
}

/* .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
} */
.pagination {
  display: flex;
  justify-content: center;

}

.pagination-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  margin: 0 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination-btn:hover {
  background-color: #0056b3;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.review-form {
  display: flex;
  flex-direction: column;
}

.label-field {
  font-weight: bold;
  margin-bottom: 5px;
}

.input-field {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button-container {
   display: flex; 
  justify-content:space-between;
}

.submit-button,
.reset-button,
.cancel-button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button {
  background-color: #FFD100;
  color: black
}

.reset-button,
.cancel-button {
  background-color: #ccc;
}

.submit-button:hover,
.reset-button:hover,

.arrowFilterDesign {
  display: inline-flex;
  flex-direction: column;
  margin-left: 10px;

}

.arrowFilterDesign .upArrow {
  height: 8px;
  width: 10px;
  margin-bottom: 2px;
}

.arrowFilterDesign .downArrow {
  margin-top: 3px;
  height: 8px;
  width: 10px;
}